[Desktop Entry]
Name=Pi Apps for Python
Comment=Pi Apps for Python, a front end for Pi Apps written in Python.
Exec=$HOME/pi-apps/gui.py
Type=Application
